* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  margin: 0;
}
.home-page {
  display: flex;
}

.server-menu {
  width: 72px;
  height: 100vh;
  background-color: #1e1f22;
  display: flex;
  justify-content: center;
}
.container-server-icon {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.icon {
  border-radius: 50%;
  width: 50px;
  flex-shrink: 0;
}
.icon2 {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-color: #313338;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* friendlist section */

.right {
  flex-grow: 1;
  display: flex;
}
.right .friend-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.friend-list .search-bar {
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  background-color: #2b2d31;
  box-shadow: 0px 2px 0px #1f2023;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar #user-input {
  color: white;
  background-color: #1e1f22;
  outline: none;
  border: none;
  height: 28px;
  width: 220px;
  padding: 5px;
  border-radius: 3px;
}
.friend-list .friend {
  width: 240px;
  height: 100vh;
  background-color: #2b2d31;
  z-index: 1;
  padding: 8px;
}
.friend-list .user-profile {
  background-color: #232428;
  min-height: 53px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 13px;
  align-items: center;
}

.user-profile #avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-profile .state-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-state {
  height: 20px;
  width: 20px;
}

.friend .inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventory-icon {
  display: flex;
  min-height: 44px;
  min-width: 221px;
  align-items: center;
  gap: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.inventory-icon .text {
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/*people activities in right section*/
.right .people-active {
  background-color: #313338;
  flex: 1;
}

/* upper bar*/
.navigation-bar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  box-shadow: 0px 2px 0px #1f2023;
  align-items: center;
  padding: 8px;
}

.left-child {
  align-items: center;
  height: 32px;
  display: flex;
}

.left-child .friend-icon {
  display: flex;
  align-items: center;
}

.left-child .seperated {
  height: 24px;
  width: 1px;
  background-color: #80848e;
}

.left-child .friend-bar {
  display: flex;
  gap: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

#add-05 {
  background-color: #248046;
  width: 91px;
  height: 24px;
  border-radius: 5px;
}

.text-space {
  margin-left: 8px;
  margin-right: 8px;
}

#left-text-friend-icon {
  font-weight: 550;
  margin-right: 8px;
}
.text-friend-bar {
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  text-align: center;
}

.toolbar {
  width: 137px;
  height: 32px;
  background-color: #313338;
  display: flex;
}

.seperated2 {
  width: 1px;
  height: 24px;
  background-color: #80848e;
}

.toolbar-icon {
  margin-left: 8px;
  margin-right: 8px;
}

/*online bar*/
.online-status {
  display: flex;
  flex-direction: row;
}
.online-status-left {
  width: 694px;
}

.search-bar-container {
  margin: 16px 20px 8px 30px;
  width: 644px;
  height: 34px;
  background-color: #1e1f22;
  display: flex;
  border-radius: 5px;
  padding: 1px;
}
.sb-01 {
  flex: 1;
  height: 34px;
  border: none;
  outline: 0;
  background-color: transparent;
  padding: 0 8px;
  margin: 1px;
  line-height: 32px;
  font-size: 15px;
  color: white;
}
.sb-02 {
  flex-shrink: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-title-01 {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.online-title-02 {
  flex: 1 1 auto;
  margin: 16px 20px 8px 30px;
  font-size: 12px;
  line-height: 16px;
  color: #b5bac1;
}
